.equipmentDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.equipmentDetails {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #e9ebf2;
}

.equipmentDetailsHeader {
  font-weight: 500;
  font-size: 18px;
  color: #020617;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.equipmentDetailsEditButton {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6b7280;
}

.equipmentDetailsRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 100%;
}

.equipmentDetailsRowItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.equipmentDetailsColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.equipmentDetailsColumnItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.equipmentDetailsColumnItem > .equipmentDetailInput {
  width: 100%;
  box-sizing: border-box;
}

.equipmentDetailTitle {
  flex: 1;
  color: #6a6f85;
  font-size: 14px;
}

.equipmentDetailValue {
  color: #060f33;
  font-size: 17px;
}

.equipmentDetailInput {
  flex: 1;
  background-color: #f7f9fc;
  border: 1px solid #e9ebf2;
  border-radius: 12px;
  padding: 12px 16px;
  color: #020617;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.equipmentDisposedContainer {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #e9ebf2;
}

.equipmentDisposedLabelText .info {
  margin-left: 8px; /* Adds space between "Equipment Disposed" and the icon */
}

.equipmentDisposedLabelText {
  font-size: 18px;
  font-weight: 500;
  color: #060f33;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
}

/* Hide the default HTML checkbox */
.equipmentDisposedToggle,
.equipmentKRCToggle {
  display: none;
}

/* The slider track */
.equipmentDisposedSlider,
.equipmentKRCSlider {
  display: block;
  width: 48px; /* Width of the track */
  height: 24px; /* Height of the track */
  background-color: #e0e0e0; /* Off-state background color */
  border-radius: 12px; /* Makes it a rounded rectangle */
  position: relative;
  transition: background-color 0.2s;
  flex-shrink: 0;
  margin-left: auto;
}

/* The thumb (the sliding circle) */
.equipmentDisposedSlider::before,
.equipmentKRCSlider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px; /* Width of the thumb */
  height: 18px; /* Height of the thumb */
  background-color: #ffffff; /* Thumb color */
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  transition: transform 0.2s; /* Sliding animation */
}

/* When the checkbox is checked, change the background color of the track */
.equipmentDisposedToggle:checked + .equipmentDisposedSlider,
.equipmentKRCToggle:checked + .equipmentKRCSlider {
  background-color: #3b82f6; /* On-state background color (e.g., a blue) */
}

/* When the checkbox is checked, slide the thumb to the right */
.equipmentDisposedToggle:checked + .equipmentDisposedSlider::before,
.equipmentKRCToggle:checked + .equipmentKRCSlider::before {
  transform: translateX(24px); /* Moves the thumb to the right */
}

.equipmentDetailsCancelAndSaveContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.equipmentDetailsDeleteButton {
  background-color: #fff;
  color: #f54052;
  font-size: 14px;
  border: 1px solid #eaebf7;
  border-radius: 20px;
  padding: 8.5px 19px 8.5px 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.equipmentDetailsSaveButton {
  border-radius: 20px;
  background-color: #454bba;
  color: #fff;
  padding: 8.5px 19px;
}
